@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sistema de gestiones academicas</h1>
    <p>Sistema para la gestion y administracion academica </p>
</div>
